.delete-button{
    visibility: hidden;
    display: inline-block;
}

.table-row:hover .delete-button{
    visibility: visible;
}

.image{
    background-attachment: relative;
    background-size: 100% 100%;
}

#ds{
    opacity: 1;
}

#block{
    opacity:1;
}
